@model BSIT3L_Movies.Models.MovieViewModel


<!DOCTYPE html>
@{
    var rate = Model.Rating;
    var star = rate;
    var mode = Model.Id;

}
<html>
<head>
    <title>Movie</title>
</head>
    <body>
    
    
      
    <div class="getmovieInfo">
        <div class="getmovieDetails">
            <h1>Movie Details <i class="bi bi-film"></i></h1>
            <p1>Movie Name</p1>
            <p>@Model.Name</p>
            <p1>Rating</p1>
            <p>
                @Model.Star   
                @if (rate >= 5)
                {
                    @Model.Star
                    <span class="bi bi-star-fill"></span>
                    <span class="bi bi-star-fill"></span>
                    <span class="bi bi-star-fill"></span>
                    <span class="bi bi-star-fill"></span>
                    <span class="bi bi-star-fill"></span>
                }
                else if (rate > 3 && rate < 5)
                {
                    @Model.Star
                    <span class="bi bi-star-fill"></span>
                    <span class="bi bi-star-fill"></span>
                    <span class="bi bi-star-fill"></span>
                    <span class="bi bi-star-fill"></span>
                    <span class="bi bi-star"></span>
                }
                else if (rate > 2 && rate < 4)
                {
                    @Model.Star
                    <span class="bi bi-star-fill"></span>
                    <span class="bi bi-star-fill"></span>
                    <span class="bi bi-star-fill"></span>
                    <span class="bi bi-star"></span>
                    <span class="bi bi-star"></span>
                }
                else if (rate > 1 && rate < 3)
                {
                    @Model.Star
                    <span class="bi bi-star-fill"></span>
                    <span class="bi bi-star-fill"></span>
                    <span class="bi bi-star"></span>
                    <span class="bi bi-star"></span>
                    <span class="bi bi-star"></span>
                }
                else
                {
                    @Model.Star
                    <span class="bi bi-star-fill"></span>
                    <span class="bi bi-star"></span>
                    <span class="bi bi-star"></span>
                    <span class="bi bi-star"></span>
                    <span class="bi bi-star"></span>
                }
            </p>
            <p1>Release Year</p1>
            <p>@Model.ReleaseYear</p>
            <p1>Genre</p1>
            <p>@Model.Genre</p>
            
        </div>
        <div class="getmovieCover"><img src="@Url.Content(Model.Cover)" alt="Product Image" /></div>
        
    </div>

    <div class="moviebg">
        <video controls="controls" autoplay muted loop>
            <source src="@Url.Content(Model.Video)" type="video/mp4" class="back-video" />
        </video>
    </div>
  
    <div class="getmovie-action" >

        <div class="rating">
            <i class="bi bi-star hover-hidden"></i>
            <i class="bi bi-star-fill hover-show"></i>
            <i class="bi bi-star hover-hidden"></i>
            <i class="bi bi-star-fill hover-show"></i>
            <i class="bi bi-star hover-hidden"></i>
            <i class="bi bi-star-fill hover-show"></i>
            <i class="bi bi-star hover-hidden"></i>
            <i class="bi bi-star-fill hover-show"></i>
            <i class="bi bi-star hover-hidden"></i>
            <i class="bi bi-star-fill hover-show"></i>
           
            Rate
        </div>
        <div class="button2">
            <a class="btn btn-primary" onclick="window.open('@Url.Content(Model.Link)') " style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                <i class="bi bi-play-fill"></i> Watch
            </a>
            <a class="btn btn-primary" onclick="window.open('@Url.Action("Random", "Movies", new {Model.Id} )')" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">   
                <i class="bi bi-file-arrow-down"></i> Download
            </a>
        </div>
        <div class="adding">
            <a class="btn btn-primary" onclick="window.open('@Url.Action("Random", "Movies", new {Model.Id} )')" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
            <i class="bi bi-plus-square"></i>
            Favorites
           </a>
        </div>
    </div>
    <div class="getmovieContent">
        <h2>Info</h2>
        <p2>@Model.Content</p2>
        </div>
    
    </body>

</html>
